

*{
	padding: 0;
	margin: 1;
	box-sizing: border-box;
	font-family: sans-serif;
}
.container {
	width: 600px;
	margin: auto;
}
.chat {
	display: flex;
	flex-direction: column;
	height: auto;
	background: #FEFCFF;
}

.chat-header {
	display: flex;
	cursor: pointer;
}
.profile {
	width: 600px;
	background: #0398D8;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0px 0px;
	position: fixed;
}
.profile .pp {
	width: 70px;
	display: inline-block;
	border-radius: 70%;
	margin-left: 32px;
}
h1
{
color: white;
margin-bottom: 0;
margin-top: 0;
text-align: center;
font-size: 40px;
}
h3
{
color: rgb(0, 243, 122);
font-size: 20px;
margin-top: 5px;
text-align: center;
}
h4
{
color: rgb(255, 255, 255);
font-size: 10px;
margin-top: 5px;
text-align: center;
}
.profile h2 {
	display: inline-block;
	line-height: 60px;
	vertical-align: bottom;
	color: #fff;
	font-size: 20px;
}
.profile span {
	color: #ccc;
	position: absolute;
	top: 42px;
	left: 100px;
	font-size: 14px;
}
.right .icon {
	display: inline-block;
	width: 25px;
	margin-left: 10px;
}
.profile .left {
	flex: 1;
}

#chatbox
{
    background-attachment: fixed;
	padding-left: 20px;
	overflow-y: scroll;
	flex: 1;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
	background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}
#userInput {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        position: relative;
        cursor: pointer; 
}
#userInput textarea {
	display: block;
	flex: 1;
	width: 100%;
	height: 50px;
	border-radius: 60px;
	margin: 5px;
	padding: 10px;
	outline: none;
	font-size: 19px;
	padding-left: 40px;
	padding-right: 90px;
	border: 2px solid #ccc;
	color: #555;
	resize: none;
}
#textInput {
width: 87%;
border: none;
border-bottom: 3px solid #009688;
font-family: monospace;
font-size: 17px;
}
#buttonInput {
padding: 3px;
font-family: monospace;
font-size: 17px;
}
.userText {
color: white;
  font-family: Tahoma, sans-serif;
font-size: 17px;
text-align: right;
line-height: 30px;
}
.userText span {
background-color: #46AB5A;
padding: 10px;
border-radius: 20px;
}
.botText {
color: white;
   font-family: Tahoma, sans-serif;
font-size: 18px;
text-align: left;
line-height: 30px;
}
.botText span {
background-color: #3B89FB;
padding: 10px;
border-radius: 20px;

}
.botimage{
margin-top: 2px;
text-align: center;
}
#tidbit {
position:absolute;
bottom:0;
right:0;
width: 300px;
}

a:visited {
	color: rgb(0, 255, 0);
	background-color: transparent;
	text-decoration: none;
  }
  a:hover {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: underline;
  }
  a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
  }